@import 'background-color';

.blog header {
    background-image: url(.././assets/blog-header.jpg);
    background-size: cover;
    background-position: center;
    height: 66vh;
}

.blog h1 {
    font: 400 100px 'Walter Turncoat', cursive;
    margin-top: 0px;
    line-height: 86px;
}

.blog main {
    background: $primary;
    display: flex;
    justify-content: space-between;
}

.leftside {
    width: 30%;
    padding-top: 90px;
}

.rightside {
    width: 63%;
    margin-top: -140px;
}

.leftside img {
    width: 94%;
    box-shadow: 22px 0 $secondary;
}

.mission {
    background: $secondary;
    margin-left: 20%;
    padding: 24px 20px; 
}

.mission h2 {
    font: 400 20px 'Walter Turncoat', cursive;
}

.mission p {
    line-height: 22px;
    padding-top: 8px;
}

.mission a {
    text-decoration: none;
    line-height: 22px;
}

.posts {
    padding: 40px 0 8px 0;
}

.mission li {
    list-style: none;
    padding-left: 2px;
    padding-bottom: 8px;
}

.mission i {
    font-size: 4px;
    padding-right: 16px;
    color: #08FDED;
    vertical-align: middle;
}

.blog-image img {
    width: 97%;
    margin-left: 3%;
    box-shadow: -24px 24px #08FDED;
}

.rightside h2 {
    font: 400 54px 'Walter Turncoat', cursive;
}

.new {
    border-left: 4px solid #08FDED;
    border-bottom: 4px solid #08FDED;
    padding: 50px 80px 100px 110px;
}

.new p {
    padding: 10px 0;
    line-height: 22px;
}

.comments {
    padding: 20px 80px 0px 100px;
}

.comments h3 {
    font: italic 400 18px 'Roboto', sans-serif;
}

.comments p {
    padding: 10px 0;
    line-height: 22px;
}

.comments-mariama,
.comments-rob {
    display: flex;
    justify-content: space-between;
}

.comments-mariama {
    padding: 20px 0;
}

.comments-rob {
    padding-top: 60px;
}

.comments-image {
    width: 10%;
}

.comments-text {
    width: 90%;
    padding: 0 30px;
}

.comment-form {
    padding: 20px 80px 40px 70px;
}

.comment-form input {
    background-color: $primary;
    border: none;
    width: 47%;
    border-bottom: 2px solid #08FDED;
    padding: 20px;
}

.comment-form input[type=text] {
    margin-right: 5%;
}

.comment-form textarea {
    width: 100%;
    background-color: $primary;
    border: 2px solid #08FDED; 
    resize: none;
    margin-top: 30px;
    padding: 20px; 
}

.comment-form button {
    font: 400 20px 'Walter Turncoat', cursive;
    color: $secondary;
    background-color:#08FDED;
    width: 100%;
    padding: 6px;
    border: none;
    margin: 30px 0;
}

// responsive design for blog page starts here

@media (max-width: 950px) {
    .blog nav ul {
        padding-top: 40px;
    }

    .blog h1 {
        font-size: 60px;
    }

    .blog main {
        display: block;
    }

    .leftside,
    .rightside {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0px;
        padding-top: 0px;
    }

    .leftside {
        padding-bottom: 40px;
    }

    .new {
        padding: 40px;
    }

    .comments {
        padding: 20px 8%;
    }

    .comments-mariama,
    .comments-rob {
        display: block;
    }

    .comments-image {
        width: 30%;
        margin: 0 8%;
    }

    .comments-text {
        width: 80%;
        margin: 0 8%;
        padding: 0;
    }

    .comments-rob {
        padding-top: 20px;
    }

    .comment-form input {
        width: 100%;
    }
}