@import 'setup';
@import 'blog';
@import 'contact';
@import 'background-color';

// font-sizes changed from design sheet to better match design image
// images optimized with ImageOptim

// styles that apply to all pages start here

* {
    margin: 0;
    padding: 0;
    font: 400 15px 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #F3FAFF;
}

.wrapper {
    max-width: 1200px;
    width: 84%;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

header nav ul {
    padding: 60px 0;
    list-style: none;
    display: flex;
}

header nav a {
    font: 700 16px 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0 20px;
}

header nav a:hover,
header nav a:focus,
header nav a:focus-within {
    border-bottom: 4px solid $highlight;
}

footer {
    background: #044779;
}

footer p {
    text-align: center;
    padding: 10px;
}

// styles for home page only start here

.home header {
    background-image: url(.././assets/home-header.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.home h1 {
    font: 400 116px 'Walter Turncoat', cursive;
    margin: 100px 30px 0 8%;
}

.header-image {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.about,
.road {
    background: $primary;
}

.about-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 190px;
    padding-bottom: 100px;
}

.about-icon {
    width: 5%;
    padding-top: 28px;
}

.about-icon i {
    font-size: 20px;
    color: $secondary;
    background: $highlight;
    border-radius: 50%;
    padding: 12px;
}

.about-text {
    width: 45%;
    padding: 20px 10px;
}

.about h2,
.road h2 {
    font: 400 34px 'Walter Turncoat', cursive;
}

.about p {
    line-height: 22px;
    padding: 10px 0;
}

.read,
.gallery {
    background: $secondary;
}

.read h2 {
    font: 400 30px 'Walter Turncoat', cursive;
}

.read a {
    font: 400 20px 'Walter Turncoat', cursive;
    color: $secondary;
    text-decoration: none;
    background-color: $highlight;
    padding: 6px 10px;
}

.read a:hover,
.read a:focus,
.read a:focus-within {
    color: $highlight;
    background-color: $primary;
}

.read-programs,
.read-locations {
    display: flex;
    justify-content: space-between;
}

.read-locations {
    flex-direction: row-reverse;
    margin-top: 60px;
}

.read-image {
    width: 42%;
}

.read-text {
    width: 42%;
}

.read-text p {
    padding: 6px 0 40px 0;
    line-height: 22px;
}

.read-programs img {
    box-shadow: 16px 16px $highlight;
    margin-top: -40px;
}

.read-locations img {
    box-shadow: -16px 16px $highlight;
    margin-bottom: -40px;
}

.read-programs .read-text {
    padding-top: 80px;
    padding-right: 10%;
}

.read-locations .read-text {
    padding-top: 20px;
    padding-left: 10%;
    text-align: right;
}

.road-trips {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 100px;
}

.road p {
    line-height: 22px;
}

.road a {
    font: 400 20px 'Walter Turncoat', cursive;
    color: $secondary;
    text-decoration: none;
    background-color: $highlight;
    padding: 6px 10px;
}

.road a:hover,
.road a:focus,
.road a:focus-within {
    color: $highlight;
    background-color: $secondary;
}

.road-trips p {
    padding: 20px 10% 40px 10%;
}

.road-events {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0 80px 20px;
}

.road-events img {
    width: 25%;
    box-shadow: -16px 16px $highlight;
}

.road-events div {
    width: 70%;
    padding: 0 40px 0 20px; 
}

.road-events h2 {
    line-height: 34px;
}

.road-events p {
    padding: 16px 0 20px 0;
}

.gallery-images {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.gallery img {
    width: 31%;
}

// responsive design for home page starts here

@media (max-width: 950px) {

    .home header nav ul {
        padding: 40px 0 0 0;
    }

    .home header {
        background-position: left;
    }

    .home h1 {
        font-size: 60px;
        margin: 8% 30px 180px 8%;
    }

    .header-image,
    .about-boxes {
        display: block;
    }

    .about {
        text-align: center;
        margin: 0 auto;
    }

    .about-icon {
        width: 100%;
        margin: 0 auto;
    }
    
    .about-boxes {
        padding-top: 180px;
        padding-bottom: 60px;
    }

    .about-text {
        width: 100%;
        padding: 20px 10px;
    }

    .read-programs,
    .read-locations {
        display: block;
        margin: 0 auto;
    }

    .read-image {
        width: 100%;
    }

    .read-text {
        width: 84%;
        margin: 0 8%;
    }

    .read-programs img,
    .read-locations img {
        box-shadow: none;
        margin: 0 auto;
    }

    .read-programs .read-text,
    .read-locations .read-text {
        padding: 40px 20px;
        text-align: center;
    }

    .road-trips {
        padding-top: 80px;
    }

    .road-events {
        display: block;
        padding: 100px 0 40px 0;
    }

    .road-events img {
        width: 100%;
        box-shadow: none;
    }

    .road-events div {
        width: 100%;
        padding: 40px 20px; 
        text-align: center;
    }

    .gallery-images {
        display: block;
        padding: 60px 0;
    }

    .gallery img {
        width: 100%;
        padding: 20px;
    }
}