html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.blog header {
  background-image: url(.././assets/blog-header.jpg);
  background-size: cover;
  background-position: center;
  height: 66vh;
}

.blog h1 {
  font: 400 100px 'Walter Turncoat', cursive;
  margin-top: 0px;
  line-height: 86px;
}

.blog main {
  background: #03697C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.leftside {
  width: 30%;
  padding-top: 90px;
}

.rightside {
  width: 63%;
  margin-top: -140px;
}

.leftside img {
  width: 94%;
  -webkit-box-shadow: 22px 0 #474BB5;
          box-shadow: 22px 0 #474BB5;
}

.mission {
  background: #474BB5;
  margin-left: 20%;
  padding: 24px 20px;
}

.mission h2 {
  font: 400 20px 'Walter Turncoat', cursive;
}

.mission p {
  line-height: 22px;
  padding-top: 8px;
}

.mission a {
  text-decoration: none;
  line-height: 22px;
}

.posts {
  padding: 40px 0 8px 0;
}

.mission li {
  list-style: none;
  padding-left: 2px;
  padding-bottom: 8px;
}

.mission i {
  font-size: 4px;
  padding-right: 16px;
  color: #08FDED;
  vertical-align: middle;
}

.blog-image img {
  width: 97%;
  margin-left: 3%;
  -webkit-box-shadow: -24px 24px #08FDED;
          box-shadow: -24px 24px #08FDED;
}

.rightside h2 {
  font: 400 54px 'Walter Turncoat', cursive;
}

.new {
  border-left: 4px solid #08FDED;
  border-bottom: 4px solid #08FDED;
  padding: 50px 80px 100px 110px;
}

.new p {
  padding: 10px 0;
  line-height: 22px;
}

.comments {
  padding: 20px 80px 0px 100px;
}

.comments h3 {
  font: italic 400 18px 'Roboto', sans-serif;
}

.comments p {
  padding: 10px 0;
  line-height: 22px;
}

.comments-mariama,
.comments-rob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments-mariama {
  padding: 20px 0;
}

.comments-rob {
  padding-top: 60px;
}

.comments-image {
  width: 10%;
}

.comments-text {
  width: 90%;
  padding: 0 30px;
}

.comment-form {
  padding: 20px 80px 40px 70px;
}

.comment-form input {
  background-color: #03697C;
  border: none;
  width: 47%;
  border-bottom: 2px solid #08FDED;
  padding: 20px;
}

.comment-form input[type=text] {
  margin-right: 5%;
}

.comment-form textarea {
  width: 100%;
  background-color: #03697C;
  border: 2px solid #08FDED;
  resize: none;
  margin-top: 30px;
  padding: 20px;
}

.comment-form button {
  font: 400 20px 'Walter Turncoat', cursive;
  color: #474BB5;
  background-color: #08FDED;
  width: 100%;
  padding: 6px;
  border: none;
  margin: 30px 0;
}

@media (max-width: 950px) {
  .blog nav ul {
    padding-top: 40px;
  }
  .blog h1 {
    font-size: 60px;
  }
  .blog main {
    display: block;
  }
  .leftside,
  .rightside {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .leftside {
    padding-bottom: 40px;
  }
  .new {
    padding: 40px;
  }
  .comments {
    padding: 20px 8%;
  }
  .comments-mariama,
  .comments-rob {
    display: block;
  }
  .comments-image {
    width: 30%;
    margin: 0 8%;
  }
  .comments-text {
    width: 80%;
    margin: 0 8%;
    padding: 0;
  }
  .comments-rob {
    padding-top: 20px;
  }
  .comment-form input {
    width: 100%;
  }
}

.contact header {
  background-image: url(.././assets/contact-header.jpg);
  background-size: cover;
  background-position: center;
  height: 66vh;
}

.contact h1 {
  font: 400 100px 'Walter Turncoat', cursive;
  margin-top: 0px;
  line-height: 86px;
}

.contact main {
  background: #03697C;
}

.contact-sheet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-info {
  width: 30%;
  margin: 100px 10px 20px 10px;
}

.contact-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 20px;
}

.contact-info i {
  font-size: 20px;
  margin-right: 20px;
}

.contact-info a {
  text-decoration: none;
}

.contact-info p {
  margin-top: 24px;
  line-height: 22px;
}

.message {
  width: 70%;
  padding: 60px 60px 50px 60px;
  background-color: #474BB5;
  -webkit-box-shadow: 16px 16px #08FDED;
          box-shadow: 16px 16px #08FDED;
  margin: -140px 0 100px 0;
}

.message-form input {
  background-color: #474BB5;
  border: none;
  width: 47%;
  border-bottom: 2px solid #F3FAFF;
  padding: 20px;
}

.message-form input[type=text] {
  margin-right: 5%;
}

.message-form textarea {
  width: 100%;
  background-color: #474BB5;
  border: 2px solid #F3FAFF;
  resize: none;
  margin-top: 40px;
  padding: 20px;
}

.message-form button {
  font: 400 20px 'Walter Turncoat', cursive;
  color: #474BB5;
  background-color: #08FDED;
  width: 100%;
  padding: 6px;
  border: none;
  margin-top: 40px;
}

@media (max-width: 950px) {
  .contact nav ul {
    padding-top: 40px;
  }
  .contact h1 {
    font-size: 60px;
  }
  .contact-sheet {
    display: block;
    padding: 10px 0 30px 0;
  }
  .contact-info,
  .message {
    width: 100%;
    margin: 0;
    padding: 30px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .message-form input {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  font: 400 15px 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: #F3FAFF;
}

.wrapper {
  max-width: 1200px;
  width: 84%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

header nav ul {
  padding: 60px 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav a {
  font: 700 16px 'Roboto', sans-serif;
  text-decoration: none;
  margin: 0 20px;
}

header nav a:hover,
header nav a:focus,
header nav a:focus-within {
  border-bottom: 4px solid #08FDED;
}

footer {
  background: #044779;
}

footer p {
  text-align: center;
  padding: 10px;
}

.home header {
  background-image: url(.././assets/home-header.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.home h1 {
  font: 400 116px 'Walter Turncoat', cursive;
  margin: 100px 30px 0 8%;
}

.header-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.about,
.road {
  background: #03697C;
}

.about-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 190px;
  padding-bottom: 100px;
}

.about-icon {
  width: 5%;
  padding-top: 28px;
}

.about-icon i {
  font-size: 20px;
  color: #474BB5;
  background: #08FDED;
  border-radius: 50%;
  padding: 12px;
}

.about-text {
  width: 45%;
  padding: 20px 10px;
}

.about h2,
.road h2 {
  font: 400 34px 'Walter Turncoat', cursive;
}

.about p {
  line-height: 22px;
  padding: 10px 0;
}

.read,
.gallery {
  background: #474BB5;
}

.read h2 {
  font: 400 30px 'Walter Turncoat', cursive;
}

.read a {
  font: 400 20px 'Walter Turncoat', cursive;
  color: #474BB5;
  text-decoration: none;
  background-color: #08FDED;
  padding: 6px 10px;
}

.read a:hover,
.read a:focus,
.read a:focus-within {
  color: #08FDED;
  background-color: #03697C;
}

.read-programs,
.read-locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.read-locations {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 60px;
}

.read-image {
  width: 42%;
}

.read-text {
  width: 42%;
}

.read-text p {
  padding: 6px 0 40px 0;
  line-height: 22px;
}

.read-programs img {
  -webkit-box-shadow: 16px 16px #08FDED;
          box-shadow: 16px 16px #08FDED;
  margin-top: -40px;
}

.read-locations img {
  -webkit-box-shadow: -16px 16px #08FDED;
          box-shadow: -16px 16px #08FDED;
  margin-bottom: -40px;
}

.read-programs .read-text {
  padding-top: 80px;
  padding-right: 10%;
}

.read-locations .read-text {
  padding-top: 20px;
  padding-left: 10%;
  text-align: right;
}

.road-trips {
  text-align: center;
  padding-top: 140px;
  padding-bottom: 100px;
}

.road p {
  line-height: 22px;
}

.road a {
  font: 400 20px 'Walter Turncoat', cursive;
  color: #474BB5;
  text-decoration: none;
  background-color: #08FDED;
  padding: 6px 10px;
}

.road a:hover,
.road a:focus,
.road a:focus-within {
  color: #08FDED;
  background-color: #474BB5;
}

.road-trips p {
  padding: 20px 10% 40px 10%;
}

.road-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0 80px 20px;
}

.road-events img {
  width: 25%;
  -webkit-box-shadow: -16px 16px #08FDED;
          box-shadow: -16px 16px #08FDED;
}

.road-events div {
  width: 70%;
  padding: 0 40px 0 20px;
}

.road-events h2 {
  line-height: 34px;
}

.road-events p {
  padding: 16px 0 20px 0;
}

.gallery-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}

.gallery img {
  width: 31%;
}

@media (max-width: 950px) {
  .home header nav ul {
    padding: 40px 0 0 0;
  }
  .home header {
    background-position: left;
  }
  .home h1 {
    font-size: 60px;
    margin: 8% 30px 180px 8%;
  }
  .header-image,
  .about-boxes {
    display: block;
  }
  .about {
    text-align: center;
    margin: 0 auto;
  }
  .about-icon {
    width: 100%;
    margin: 0 auto;
  }
  .about-boxes {
    padding-top: 180px;
    padding-bottom: 60px;
  }
  .about-text {
    width: 100%;
    padding: 20px 10px;
  }
  .read-programs,
  .read-locations {
    display: block;
    margin: 0 auto;
  }
  .read-image {
    width: 100%;
  }
  .read-text {
    width: 84%;
    margin: 0 8%;
  }
  .read-programs img,
  .read-locations img {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0 auto;
  }
  .read-programs .read-text,
  .read-locations .read-text {
    padding: 40px 20px;
    text-align: center;
  }
  .road-trips {
    padding-top: 80px;
  }
  .road-events {
    display: block;
    padding: 100px 0 40px 0;
  }
  .road-events img {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .road-events div {
    width: 100%;
    padding: 40px 20px;
    text-align: center;
  }
  .gallery-images {
    display: block;
    padding: 60px 0;
  }
  .gallery img {
    width: 100%;
    padding: 20px;
  }
}
